* {
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    display: flex;
    /* To center the flex */
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    margin: 0;
    background-color: rgb(223, 207, 190);
}

main {
    display: flex;
    width: 100vh;
    border: 2px solid black;
    border-radius: 20px;
    background-color: #ffff;
}

.card {
    height: 75vh;
    background-size: auto 100%;
    background-position: center;
    background-repeat: no-repeat;
    flex: 0.6;
    border-radius: 60px;
    cursor: pointer;
    position: relative;
    transition: flex 1.5s ease-in;
    color: #ffff;
    margin: 12px;
}

.card h4 {
    font-size: 15px;
    position: absolute;
    bottom: 15px;
    left: 30px;
    margin: 0;
    opacity: 0;
}

.card.on {
    flex: 7;
}

.card.on h4 {
    /* Only a 'on' image will display its name  */
    opacity: 1;
    transition: opacity 0.5s ease-in 0.9s;
}

@media (max-width: 470px) {
    .card:nth-of-type(5), .card:nth-of-type(6), .card:nth-of-type(7) {
        display: none;
    }
}